
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-background: #1b1b32;
}

nav{
  background-color: var(--main-red);
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  padding: 20px;
}
ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

body{
    background-color: var(--main-background);
    font-family: sans-serif;
    color: #f5f6f7;
}

.card img{
    border-radius: 50%;
    width: 30%;
}


a {
    color: #f5f6f7;
    text-decoration: none;
   
  }
  
  a:visited {
    color: #f5f6f7;
  }
  
  a:hover {
    color: #1b1b32;
    
  }
  
  a:active {
    color: brown;
  }
.card{
    width: 90%;
    padding: 10px;
    display: grid;
    text-align: center;
    margin: auto; 
    padding-bottom: 0px;
}

.card3{
  width: 100%;
  display: grid;
  margin: auto;
  background-color: #f5f6f7;
  color:#1b1b32
}

.card-content{
  padding: 20px;
  
}


.card-myprojects{
  display: grid;
  width: 100%;
  margin: auto;

}

footer{
  background-color: var(--main-red);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;padding: 50px;
}

